---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
import Header from '@/components/ui/header'
import Projects from '@/components/ui/projectsSection'
import Pathway from '@/components/ui/pathway/pathway'
---

<Layout title='Manuel Micu portfolio website'>
  <div>
    <main>
      <Header client:load={true} />
      <div class='h-[2px] bg-slate-700/15 shadow-sm'></div>
      <div class='mx-6 pb-6'>
        <Pathway client:load={true} />
        <Projects client:load={true} />
      </div>
    </main>
  </div>
</Layout>
