---
import Layout from '../layouts/Layout.astro';
import { Button, buttonVariants } from '@/components/ui/button';
import '@/styles/globals.css';
---

<Layout title="Welcome to Astro.">
	<main>
	  <Button variant="outline" size="lg">Hello World</Button>
  </main>
</Layout>
