---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import Header from "@/components/ui/header"
import Projects from "@/components/ui/projects"
import { Separator } from '@/components/ui/separator'
import Pathway from '@/components/ui/pathway/pathway'
---

<Layout title="Manuel Micu portfolio website">
  <div class="px-8">
    <main>
      <Header client:load={true} />
      <Separator className='my-2' />
      <Pathway client:only />
      <!-- <Projects /> -->
    </main>
  </div>
</Layout>
